<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">Cubos</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Marcas
          </a>
          <ul class="dropdown-menu">
            <li *ngFor="let marca of marcas">
              <a class="dropdown-item" (click)="goToMarcas(marca)">{{
                marca
              }}</a>
            </li>
          </ul>
        </li>
      </ul>
      <div *ngIf="status == false">
        <a [routerLink]="['/login']" class="nav-link">Login</a>
        <a [routerLink]="['/register']" class="nav-link">Register</a>
      </div>
      <div *ngIf="status">
        <a [routerLink]="['/usuario']" class="nav-link">Perfil</a>
        <button class="btn btn-danger" (click)="logOut()">Log Out</button>
      </div>
    </div>
  </div>
</nav>
